<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="ds" alt="sas">

        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                     <li><strong>Title :</strong>fvygbhn</li>
                     <li><strong>Categories :</strong>fvygbhn</li>
                     <li><strong>Description :</strong>fvygbhn</li>
                     <li><strong>Rate :</strong>3.6</li>
                     <li><strong>Count :</strong>120</li>
                     <li><strong>Price :</strong>155 LE</li>

                </ul>
            </div>
        </div>
    </div>
</div>